.popup__legend {
  width: 358px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.21;
  margin: 30px auto 48px;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .popup__legend {
    width: 260px;
    font-size: 1.13rem;
    line-height: 1.22;
    margin: 25px auto 75px;
  }
}
