.popup__submit-button {
  width: 320px;
  height: 50px;
  background-color: #4D9ABD;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin: 18px 0 50px;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.22;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #050b1460;
  opacity: 1;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .popup__submit-button {
    width: 200px;
    height: 46px;
    margin: 15px 0 40px;
    font-size: 0.88rem;
    line-height: 1.21;
  }
}
